@model MCLYGV3.DB.M_AreaAndEqu
@{
	Layout = "~/Views/Shared/_Index_LayoutEdit.cshtml";
    
}
<script type="text/javascript">
	$(function () {
		$("#btnSave").click(function () {
			if ($("form").valid()) {
				var queryArray = $("form").serializeObject();
				var jsonString = JSON.stringify(queryArray);
				$.ajax({
					url: "@Url.Action("AddAreaAndEqu")",
					type: "Post",
					data: jsonString,
					dataType: "json",
					success: function (data) {
						if (data.type == 0) {
							window.parent.frameReturnByMes(data.message);
							window.parent.frameReturnByReload(true);
							window.parent.frameReturnByClose()
						}
						else {
							window.parent.frameReturnByMes(data.message);
						}
					}
				});
			}
			return false;
		});
		$("#btnReturn").click(function () {
			window.parent.frameReturnByClose();
		});
	});
</script>
<div class="mvctool bgb">
	@Html.ToolButton("btnSave", "fa fa-save", "保存", "Save", true)
	@Html.ToolButton("btnReturn", "fa fa-reply", "返回", false)
</div>
@using (Html.BeginForm())
{
	<table class="formtable">
        <tbody>
            <tr>
                <th>设备:</th>
                <td>
                    @Html.DropDownList("EquipmentId")
                </td>
            </tr>
            <tr>
                <th>区域:</th>
                <td>
                    @Html.DropDownList("AreaId")
                </td>
            </tr>
            <tr>
                <th>状态:</th>
                <td>
                    <select id="State" name="State">
                        <option value="进">进</option>
                        <option value="出">出</option>
                    </select>
                </td>
            </tr>

        </tbody>
	</table>

}
