@model MCLYGV3.DB.M_MoneyStatic
@{
	Layout = "~/Views/Shared/_Index_LayoutEdit.cshtml";
}
<script type="text/javascript">
	$(function () {
		$("#btnSave").click(function () {
			if ($("form").valid()) {
				var queryArray = $("form").serializeObject();
				var jsonString = JSON.stringify(queryArray);
				$.ajax({
					url: "@Url.Action("EditMoneyStatic")",
					type: "Post",
					data: jsonString,
					dataType: "json",
					success: function (data) {
						if (data.type == 0) {
							window.parent.frameReturnByMes(data.message);
							window.parent.frameReturnByReload(true);
							window.parent.frameReturnByClose()
						}
						else {
							window.parent.frameReturnByMes(data.message);
						}
					}
				});
			}
			return false;
		});
		$("#btnReturn").click(function () {
			window.parent.frameReturnByClose();
		});
	});
</script>
<div class="mvctool bgb">
	@Html.ToolButton("btnSave", "fa fa-save", "保存", "Save", true)
	@Html.ToolButton("btnReturn", "fa fa-reply", "返回", false)
</div>
@using (Html.BeginForm())
{

	

	<table class="formtable">
		<tbody>
			<tr>
				<th>ID:</th>
				<td>
					@Html.EditorFor(model => model.ID)
					@Html.ValidationMessageFor(model => model.ID)
				</td>
			</tr>
			<tr>
				<th>产品:</th>
				<td>
					@Html.EditorFor(model => model.ProductName)
					@Html.ValidationMessageFor(model => model.ProductName)
				</td>
			</tr>
			<tr>
				<th>业务员:</th>
				<td>
					@Html.EditorFor(model => model.UserId)
					@Html.ValidationMessageFor(model => model.UserId)
				</td>
			</tr>
			<tr>
				<th>代理公司:</th>
				<td>
					@Html.EditorFor(model => model.CompanyId)
					@Html.ValidationMessageFor(model => model.CompanyId)
				</td>
			</tr>
			<tr>
				<th>订单金额:</th>
				<td>
					@Html.EditorFor(model => model.Money)
					@Html.ValidationMessageFor(model => model.Money)
				</td>
			</tr>
			<tr>
				<th>代理公司提成:</th>
				<td>
					@Html.EditorFor(model => model.CompanyMoney)
					@Html.ValidationMessageFor(model => model.CompanyMoney)
				</td>
			</tr>
			<tr>
				<th>业务员提成:</th>
				<td>
					@Html.EditorFor(model => model.UserMoney)
					@Html.ValidationMessageFor(model => model.UserMoney)
				</td>
			</tr>

		</tbody>
	</table>

}
