@model MCLYGV3.DB.M_OrderPersion
@{
	Layout = "~/Views/Shared/_Index_LayoutEdit.cshtml";
}
<table class="formtable">
	<tbody>
		<tr>
			<th>ID:</th>
			<td>@Html.DisplayFor(model => model.ID)</td>
		</tr>
		<tr>
			<th>订单编号或子订单编号:</th>
			<td>@Html.DisplayFor(model => model.OrderCode)</td>
		</tr>
		<tr>
			<th>订单类别:</th>
            @if (Model.Type == 0)
            {
                <td>订单</td>
            }
            @if (Model.Type == 1)
            {
                <td>子订单</td>
            }
		</tr>
		<tr>
			<th>职业代码:</th>
			<td>@Html.DisplayFor(model => model.ProfessionCode)</td>
		</tr>
		<tr>
			<th>职业名称:</th>
			<td>@Html.DisplayFor(model => model.ProfessionName)</td>
		</tr>
		<tr>
			<th>姓名:</th>
			<td>@Html.DisplayFor(model => model.RealName)</td>
		</tr>
		<tr>
			<th>身份证号:</th>
			<td>@Html.DisplayFor(model => model.IdNum)</td>
		</tr>
		<tr>
			<th>主险意外伤害保费:</th>
			<td>@Html.DisplayFor(model => model.AcciPremium)</td>
		</tr>
		<tr>
			<th>主险意外伤害保额:</th>
			<td>@Html.DisplayFor(model => model.AcciDutyAount)</td>
		</tr>
		<tr>
			<th>附加医疗保费:</th>
			<td>@Html.DisplayFor(model => model.MedicalPremium)</td>
		</tr>
		<tr>
			<th>附加医疗保额:</th>
			<td>@Html.DisplayFor(model => model.MedicalDutyAount)</td>
		</tr>
		<tr>
			<th>住院津贴保额:</th>
			<td>@Html.DisplayFor(model => model.AllowancePremium)</td>
		</tr>
		<tr>
			<th>住院津贴保费:</th>
			<td>@Html.DisplayFor(model => model.AllowanceDutyAount)</td>
		</tr>

	</tbody>
</table>