@model MCLYGV3.DB.M_OrderChild
@{
	Layout = "~/Views/Shared/_Index_LayoutEdit.cshtml";
}
<table class="formtable">
	<tbody>
		<tr>
			<th>子订单编号:</th>
			<td>@Html.DisplayFor(model => model.ChildCode)</td>
		</tr>
		<tr>
			<th>订单编号:</th>
			<td>@Html.DisplayFor(model => model.OrderCode)</td>
		</tr>
		<tr>
			<th>订单步骤</th>
			@if (Model.Step == 0)
            {
                <td>未支付</td>
            }
            @if (Model.Step == 1)
            {
                <td>已完成</td>
            }
            @if (Model.Step == 2)
            {
                <td>取消</td>
            }
		</tr>
		<tr>
			<th>类别</th>
			@if (Model.Type == 0)
            {
                <td>新增</td>
            }
            @if (Model.Step == 1)
            {
                <td>批增</td>
            }
            @if (Model.Step == 2)
            {
                <td>批减</td>
            }
		</tr>
		<tr>
			<th>保费:</th>
			<td>@Html.DisplayFor(model => model.dutyAount)</td>
		</tr>
		<tr>
			<th>保额:</th>
			<td>@Html.DisplayFor(model => model.ModalPremium)</td>
		</tr>
		<tr>
			<th>诚泰返回的投保单号:</th>
			<td>@Html.DisplayFor(model => model.Ftrno)</td>
		</tr>
		<tr>
			<th>诚泰返回的批增投保单号:</th>
			<td>@Html.DisplayFor(model => model.EndorNo)</td>
		</tr>
		<tr>
			<th>平安返回的:</th>
			<td>@Html.DisplayFor(model => model.BUSINESS_NO)</td>
		</tr>
		<tr>
			<th>平安返回的:</th>
			<td>@Html.DisplayFor(model => model.BK_SERIAL	)</td>
		</tr>
		<tr>
			<th>平安返回的:</th>
			<td>@Html.DisplayFor(model => model.applyPolicyNo)</td>
		</tr>
		<tr>
			<th>电子保单密文:</th>
			<td>@Html.DisplayFor(model => model.encryptString)</td>
		</tr>

	</tbody>
</table>